EXPO_PUBLIC_SUPABASE_URL=https://dzlmtvodpyhetvektfuo.supabase.co
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_ekvoOK6QQ05dUZuWgzQfUw_2RgbWPFR
EXPO_PUBLIC_ENTERPRISE_ROUTER_URL=https://thekollectivehospitality.com
